body {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    max-width: 90%;
    min-width: 1043px;
    margin: 0 auto;
}

header {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    border: solid black;
    border-radius: 20px 20px 0 0;
    width: 90%;
    height: 100px;
    background-color: rgba(255, 97, 0, 0.5);
}

#kittenLeft {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  margin-left: 20px;
}

#kittenRight {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  margin-right: 20px;
}

h1{
  font-family: 'Sigmar One', cursive;
  font-size: 3em;
  color: rgba(80, 51, 99, 1);
}
section {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    border: solid black;
    border-radius: 0 0 20px 20px;
    width: 90%;
    background-color: rgba(0, 143, 255, 0.5);
}
aside {
  display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-self: flex-start;
    -webkit-align-items: center;
}
article {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

h2 {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 2em;
  margin: 10px auto 10px auto;
}
#chooses {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
}

#kitten1 {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    width: 300px;
    height: 400px;
    border: solid white;
    border-radius: 10px;
    padding-top: 10px;
    /*border-width: 5px;*/
    /*border-color: green;*/
    margin-right: 40px;
    background-color: black;
    box-shadow: 10px 10px 5px #888888;
}

#kitten2 {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    width: 300px;
    height: 400px;
    border: solid white;
    border-radius: 10px;
    padding-top: 10px;
    background-color: black;
    box-shadow: 10px 10px 5px #888888;
}

.desc {
  font-size: 1.5em;
  font-family: 'Indie Flower', cursive;
  color:rgba(0, 255, 255, 1);
}
.image {
  margin: 5px;
  max-height: 375px;
}
#img1 {
  width: 275px;
    height: 375px;
    /*border: solid black;*/
}

#button {
  position: fixed;
  margin: 0px;
  margin-left: -100px;
  z-index: 1;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  border: solid black;
  font-size: 1.3em;
  background-color: rgba(38, 201, 172, 1);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .7);
}
#img2 {
  width: 275px;
    height: 375px;
    /*border: solid black;*/
}

p3{
  font-size: 2em;
  margin-top: 10px;
  font-family: 'Covered By Your Grace', cursive;
}

#pawsLeft {
  margin: 15px 0 5px 5px;
}
#pawsRight {
  margin: 15px 5px 5px 0;
}

#myChart {
}

footer {
  max-width: 90%;
  height: 100px;
}
